*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/.idea/
/.idea/copyright/
/.idea/compiler.xml
/.idea/misc.xml
/.idea/my_study.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/src/DO NOT READ.txt
/src/JavaRushPlugin.properties
/Method__Add_and_Delete__elements_into_HashSet_with_using_Iterator_has_been_created__.patch
